/* Responsives properties ============================================================================================= */

/* All screen under 1200px =============================================== */
@media screen and (max-width: 1199px) {

    /* Section search */
    #search-filters {
        gap: 15px;
    }

    #search-filters ul {
        gap: 15px;
    }
} 

/* Tablet and smartphone properties (All screen under 992px) ============= */
@media screen and (max-width: 992px) {

    /* Global properties ================================== */
    .card,
    .card:hover {
        transform: none;
        transition: none;
    }

    h2 {
        margin: 20px 0;
    }

    /* Header ============================================ */
    header {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    header nav {
        width: 100%;
    }

    header nav ul {
        padding: 0;
    }

    header nav ul li {
        width: 50%;
        padding: 20px 0;
        text-align: center;
        border-bottom: 3px solid #DEEBFF;
    }

    header nav ul li:hover {
        border-top: none;
        padding-top: 20px;
        border-bottom: 3px solid #0065FC;
    }

    /* Main ============================================ */
    #main-container {
        padding: 0;
    }

    /* Section search ====================== */
    #search > * {
        margin: 40px 0;
    }

    #search-form form button {
        padding: 0;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
    }

    #search-form form .fa-search {
        display: inline;
        background-color: transparent;
        color: #ffffff;  
    }
    
    #search-form form .search-text-button {
        display: none;
    }

    #search-info p {
        margin: 0;
    }

    #search-filters ul li,
    #search-filters ul li:hover {
        transform: none;
        transition: none;
    }

    /* Section accomodations ============= */
    #accomodations-container {
        height: inherit;
    }

    #accomodations {
        flex-basis: 100%;
        order: 2;
        background-color: transparent;
    }

    #accomodations .card {
        width: 100%;
    }

    #accomodations-popular {
        flex-basis: 100%;
        order: 1;
    }

    #accomodations .more {
        height: 50px;
    }

    /* Section activities =================================== */
    #activities {
        margin-top: 0;
    }
    
    #activities-content {
        height: inherit;
        gap: 30px;
    }

    #activities-content .card {
        width: 100%;
    }
}

/* Only tablet properties (All screen above 767 and under 992px) ======================== */
@media screen and (min-width: 768px) and (max-width: 991px) {

    /* Header ============================================== */
    header img {
        padding: 40px;
    }

    /* Section accomodations =============================== */
    .card {
        margin-bottom: 20px;
    }

    #accomodations .card img {
        height: 300px;
    }

    #accomodations-popular .accomodation-img {
        height: 200px;
    }

    /* Section activities ================================== */
    #activities-content .card .activities-img {
        height: 300px;
    }

    #activities {
        padding: 0 2%;
    }

    /* Footer ============================================== */
    footer {
        justify-content: space-between;
    }

    footer section{
        width: 25%;
    }
}

/* Only smartphone properties (All screen under 768px) ================================ */
@media screen and (max-width: 767px) {

    /* Global properties ================================== */
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        margin-top: 10px;
    }
    
    p, a {
        font-size: 16px;
    }

    input {
        font-size: 16px;
    }

    main {
        padding: 0;
    }

    section {
        margin: 0;
    }

    .card {
        margin-bottom: 10px;
    }

    /* Header ========================================= */
    header img {
        width: 80px;
        padding: 20px;
    }

    /* Section search ================================= */
    #search {
        padding: 0 10px;
    }

    #search-form form i,
    #search-form form .fa-search {
        padding: 15px 20px;
    }

    /* Section accomodations ========================== */
    .accomodations {
        padding: 5%;
    }

    .accomodations .fa-star {
        font-size: 12px;
    }

    #accomodations .card img {
        height: 120px;
    }

    #accomodations-popular {
        border-radius: 0;
    }

    #accomodations-popular .accomodation-img {
        height: 130px;
    }

    /* Section activities =========================== */
    #activities {
        padding: 5%;
    }

    #activities-content .card .activities-img {
        height: 120px;
    }

    /* Footer ======================================= */
    footer {
        flex-direction: column;
    }

    footer section {
        width: 100%;
        margin: 10px 0;
    }
}
