/* Global properties ===================================================================================== */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 17px; 
    display: flex;
    flex-direction: column;
}

section {
    margin: 30px 0;
}

h1 {
    font-size: 27px;
    letter-spacing: 1px;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
}

h3 {
    font-size: inherit;
    margin-bottom: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #0065FC;
}

i {
    color: #0065FC;
}

.i-grey {
    color: #F2F2F2;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-inline-start: 0;
}

li {
    list-style: none;
}

input {
    border: none;
    padding-left: 20px;
    font-weight: bold;
}

input:focus-visible {
    outline: none ;
}

button {
    background: #0065FC;
    color: #ffffff;
    border: none;
    font-weight: bold;
    padding: 15px;
}

button:hover {
    background: #F2F2F2;
    color: #0065FC
}

.more {
    margin-top: 10px;
    font-weight: bold;
}


/* Header =============================================================================================== */
header {
    max-width: 1400px;
    padding: 0 30px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

header img {
    width: 100px;
    object-fit: contain;
}

header nav ul li {
    padding: 60px 30px;
}

header nav ul li:hover {
    border-top: 3px solid #0065FC;
    padding-top: 57px;
    color: #0065FC;
}

/* Main ================================================================================================= */
#main-container {
    align-self: center;
    max-width: 1400px;
    width: 100%;
    padding: 0 10px;
}

main {
    padding: 0 20px;
}

.card {
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px #e2dfdf;
    transform: scale(1);
    transition: transform 0.25s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.25s ease-in-out;
    color: #000000;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card-details {
    padding: 0 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
}

/* Section search ====================================================== */

#search > * {
    margin: 30px 0;
}

#search h1 {
    margin-bottom: 0;
}

#search > p {
    margin-top: 10px;
}

/* Search form ========================================== */
#search-form {
    display: flex;
}

#search-form form {
    display: flex;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-radius: 20px;
}

#search-form form:hover,
#search-form form:focus-within {
    outline: 2px solid #DEEBFF;
}

#search-form form i {
    color: #000000;
    background-color: #F2F2F2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px 25px;
}

#search-form form input {
    width: 100%;
    height: 100%;
}

#search-form form button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

#search-form form .fa-search {
    display: none;
}

/* Search filters ====================================== */
#search-filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.search-filter {
    font-weight: bold;
}

#search-filters ul {
    gap: 50px;
}

#search-filters ul li {
    display: flex;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 33px;
    box-sizing: border-box;
    transform: scale(1) translateY(3px);
    transition: transform 0.25s ease-in-out;
}

#search-filters ul li:hover {
    color: #0065FC;
    background-color: #F2F2F2;
    transform: scale(1.05) translateY(-3px);
    transition: transform 0.25s ease-in-out;
}

.search-filter-icon {
    width: 55px;
    height: 55px;
    background-color: #DEEBFF;
    outline: 2px solid #DEEBFF;
}

.search-filter a {
    padding: 0 20px 0 10px;
}

/* Search info ========================================== */
#search-info {
    display: flex;
    align-items: center;
    gap: 13px;
}

#search-info .icon-box {
    width: 25px;
    flex-shrink: 0;
    height: 25px;
    font-size: 13px;
    border: 1px solid #F2F2F2;
}

/* Block accomodations-container ========================================================================= */

#accomodations-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.accomodations {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px 40px;
    box-sizing: border-box;
    margin-top: 0;
}

#accomodations-container .card-details > * {
    width: 100%;
}

#accomodations-container .card-details p {
    margin-top: 8px;
    margin-bottom: 8px;
}

#accomodations-container .card-details ul {
    align-items: flex-end;
}

/* Section accomodations ================================== */
#accomodations {
    flex-basis: 66%;
}

#accomodations-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#accomodations .card {
    width: 30%;
}

#accomodations .card img {
    height: 130px;
}

/* Section accomodations popular ========================== */
#accomodations-popular {
    flex-basis: 30%
}

#accomodations-popular h2 {
    display: flex;
    justify-content: space-between;
}

#accomodations-popular h2 i {
    color: #000000;
}

#accomodations-popular .card {
    display:flex;
}

#accomodations-popular .accomodation-img {
    width: 40%;
    height: 150px;
}

#accomodations-popular .card img {
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
    object-fit: cover;
    height: 100%;
}

#accomodations-popular .card-details {
    width: 60%;
}

#accomodations-popular .card-details ul {
    align-self: flex-end;
}

/* Section activities =================================== */
#activities-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    justify-content: space-between;
    align-content: space-between;
   
}

#activities .card {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin: 0;
    padding: 0;
}

#activities .card .activities-img {
    flex-grow: 1;
    overflow: hidden;
}

#activities .card .card-details {
    padding: 10px 10px;
}

#activities .card .card-details h3{
    margin: 10px 0;
}

.activity {
   height: 100%;
}

.activity2 {
    height: 52%;
}

.activity3 {
    height: 38%;
}

.activity56 {
    height: 45%;
}

/* Footer =========================================================== */
#footer-container {
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

footer {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    max-width: 1400px;
    padding: 0 30px;
}

footer section {
    width: 33.33333%;
}

footer section ul{
    flex-direction: column;
}

footer section h4 {
    font-size: inherit;
    margin-bottom: 20px;
}

footer section ul li {
    margin: 10px 0;
}